<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="administrator.contact.1.0.0">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://api.softwareavanzado.world/administrator/index.php?webserviceClient=administrator&amp;webserviceVersion=1.0.0&amp;option=contact&amp;api=soap"
                binding="customBinding" bindingConfiguration="administrator.contact.1.0.0"
                contract="webservice.administratorcontact100" name="administrator.contact.1.0.0_Soap" />
        </client>
    </system.serviceModel>
</configuration>